ALCHEMY_WEBHOOK_SIGNING_KEY=
ARBITRUM_RPC_URL=
ARBITRUM_SEPOLIA_RPC_URL=
BASE_RPC_URL=
BTC_HOT_WALLET_ADDRESS=
BTC_HOT_WALLET_PRIVATE_KEY=
BTC_XPUB=
CHAIN_INGEST_SECRET=
CRON_SECRET_KEY=
DEPOSIT_WORKER_SECRET=
ETH_RPC_URL=
ETH_SEPOLIA_RPC_URL=
EVM_HOT_WALLET_ADDRESS=
EVM_HOT_WALLET_PRIVATE_KEY=
EVM_RPC_URL=
EVM_XPUB=
GAS_ORACLE_SECRET=
GEMINI_API_KEY=
HOT_WALLET_PRIVATE_KEY=
LTC_HOT_WALLET_ADDRESS=
LTC_HOT_WALLET_PRIVATE_KEY=
LTC_XPUB=
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_DEPOSIT_WORKER_SECRET=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_WITHDRAWAL_WORKER_SECRET=
POLYGON_RPC_URL=
PROVISION_SERVICE_KEY=
PUBLIC_PLATFORM_XPUB=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TRON_HOT_WALLET_ADDRESS=
TRON_HOT_WALLET_PRIVATE_KEY=
TRON_XPUB=
WITHDRAWAL_WORKER_SECRET=